@charset "utf-8";
.heard_dianpu{float: left;margin-left: 35px;width: 440px;margin-top: 20px;}
.heard_dianpu h3{font-size: 32px;color: #E4393C}
.yz_img{width: 20px;height: 15px;margin: 0px 5px;}
.sj_img{width: 14px;height: 14px;margin: 0px 5px;}
#header{position:relative;z-index:99;clear:both;margin:0 auto;zoom:1; }
#header .login{height:23px;line-height:22px;font-family:"宋体",airal;float:right;}
#header .login dd{padding:0px 9px;_padding:3px 9px;_line-height:16px;background: url(../images/line_dot_lan.png) no-repeat right;float:left;}
#header .login dd img{margin-top:-1px;_padding:3px;float:left;}
#header .login .tel{ background:url(../images/header_tel.gif) no-repeat 0px 5px; padding:0px 0 0 15px;}
#header .login_d{  width:100%;}
#header .logo{float:left;position:relative;z-index:10001;overflow:hidden;width: 254px;height:68px;background: url(../images/logo-yonyou.jpg) no-repeat; margin-top: 10px;}
#header .tx{  float:left;font-family:"微软雅黑"; font-weight:bold; font-size:18px;z-index:10001; line-height:43px;}
/*会员中心搜索*/
#header .search-member{width:390px;padding:7px 10px 0px 0px;display:inline;float:right;overflow:hidden;}
#header .search-member .i-select{ width: 70px; z-index: 11;height: 36px;margin-bottom: 0px;border: 3px solid #E4393C;float: left;margin-top: 0px;}
#header .search-member .i-search { width: 314px; z-index: 11;height: 30px;margin-bottom: 3px;border: 3px solid #E4393C;float: right}
#header .search-member .i-search .advanced_search {position: absolute;right: -40px;top: -4px;width:30px;}
#header .search-member .form { height: 30px;overflow: hidden;}
#header .search-member input {margin: 0;padding: 0;height: 30px;border: 0;float: left;}
#header .search-member .text { width: 226px;height: 20px; padding: 5px;background-position: 0 -360px;background-color: #fff; background-repeat: repeat-x;line-height: 20px; color: #999;font-family: arial,"\5b8b\4f53";font-size: 14px;}
#header .search-member .button {width: 78px;background: #E4393C;font-size: 14px;font-weight: 700; color: #fff;text-align: center;display: inline-block;float: right;cursor: pointer;}
#header .search-member a { color: #666;text-decoration: none;}
#header .search-member .hotwords-mem {height: 25px;color: #999;overflow: hidden;float: right;padding-top: 5px;}
#header .search-member .hotwords-mem strong {float: left;font-weight: 400;}
#header .search-member .hotwords-mem a:link,.hotwords a:visited {float: left;margin-right: 10px; color: #666;font-size: 14px;}
#header .search-member .hotwords-mem a:hover {float: left;margin-right: 10px; color:#ff0000;text-decoration: underline;}
#header .search-member dt{width:225px;height:30px;padding:5px 5px 0px 5px;background:url(../images/header_search_new.png) no-repeat 0px 0px;}
#header .search-member dd{padding-right:10px;float:left;white-space:nowrap;overflow:hidden;}
/*会员中心头部菜单*/
#header .tab{float:right;text-align:right;padding-top:9px;}
#header .tab a{margin:0px 0px 0px 5px;height:37px;display:inline;overflow:hidden;float:left;overflow:hidden;}
#header .tab .tab_new{width:46px;height:20px;padding:17px 0px 0px 101px;text-align:center;color:#fff;line-height:18px;font-size:14px;font-weight:bold;font-family:arial;background:url(../images/header_btn_pics_new.png) no-repeat 0px 0px;overflow:hidden;}
#header .tab .tab_new:hover{background:url(../images/header_btn_pics_new.png) no-repeat 0px -37px;}
#header .tab .tab_brand{width:121px;background:url(../images/header_btn_pics_new.png) no-repeat -278px 0px;}
#header .tab .tab_brand:hover{background:url(../images/header_btn_pics_new.png) no-repeat -278px -37px;}
#header .tab .tab_zt{width:121px;background:url(../images/header_btn_pics_new.png) no-repeat -152px 0px;}
#header .tab .tab_zt:hover{background:url(../images/header_btn_pics_new.png) no-repeat -152px -37px;}
#header .tab a:hover{ text-decoration:none;}
#header .nav-menu{clear:both;height:34px;background:url(../images/header_nav_bg.png);margin: 0 auto}
#header .navwidht{width: 1200px}
#header .nav-menu_1{ margin:0 auto; width:1200px;}
#header .nav-menu_1 ul{ float:left; width:1040px;}
#header .nav-menu_1 ul li{ float:left; padding:0; line-height:34px;font-family:"微软雅黑","宋体"; }
#header .nav-menu_1 ul li a{ color:#fff; font-variant:bold; font-size:15px; padding:0 30px;}
#header .nav-menu_1 ul li a:hover{ color:#fff; background: url(../images/header_nav_bg_hover.png); display:block; text-decoration:none; }
#header .nav-menu_1 ul li a.act{ background: url(../images/header_nav_bg_hover.png); display:block;text-decoration:none; }
#header .outriht{float: right;margin-top: 8px;margin-right: 25px;}
#header .outriht a{color: #fff}
#header .nav_key{ background:#e8e8e8; height:26px;}
#header .nav_key_1{  margin:0 auto; width:1200px;}
#header .nav_key_1 ul{ float:left;}
#header .nav_key_1 ul li{ float:left; padding:0 10px; line-height:26px; background:url(../images/line_dot_lan.png) no-repeat right;font-family:"微软雅黑","宋体"; }
#header .nav_key_1 ul li a:hover{ color:#C00;}

/*浏览历史*/
.nocont-history{height: 125px;width: 180px;padding: 20px 0;margin: 0 auto;}
.nocont-box{color: #999;text-align: center}
.nocont-box b{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;background:url(../images/nocont-icons.png) no-repeat 0 -72px;overflow:hidden;margin-right:20px}
.icon-history{width: 42px;height: 62px;margin-bottom: 20px;}
/*菜单*/
.me_menu{float:left; width:215px;}
.me_menu h3{ float:left; border-bottom:solid 1px #ecebea; line-height:32px; height:32px; font-family:"微软雅黑","宋体";  width:215px; text-align:center; background:url(../images/menber.jpg) no-repeat 45px 10px; font-size:14px;}
.me_menu dl{ float:left; width:215px; padding:10px 0;}
.me_menu dl dt{float:left; width:175px;line-height:30px; height:30px; font-weight:bold;padding-left:40px; margin:5px 0;}
.me_menu dl dd{float:left; width:118px; border-bottom:dashed 1px #dad9d9; margin:0 4px; line-height:28px; height:28px; padding-left:90px;background:url(../images/icon1.gif) no-repeat 80px 14px;}
.menu_botton{margin: 5px 40px;float: left}
.menu_gdimg{width: 215px;height: 230px;}
/*最新公告*/
.notice{ float:left; width:238px; }
.notice h3{ background:#efefef; width:215px; height:32px; line-height:32px;font-weight:bold;font-family:"微软雅黑","宋体";  font-size:14px; padding-left:25px;}
.notice ul{ float:left; padding:10px; width:220px;}
.notice ul li{ float:left;  width:200px; padding-left:20px; line-height:20px; background:url(../images/icon1.gif) no-repeat 8px 10px;}

.newsbos{float: left;width:952px;height: 25px;line-height: 25px;font-size: 12px;border: solid 1px #ecebea;padding: 5px}
/*个人信息*/
.person{ float:left;width:690px;}
.person h3{ width:680px;line-height:32px; height:32px; font-family:"宋体";font-size:14px; border-bottom:dashed 1px #ccc; text-indent:2em;}
.person dl{ float:left; width:650px; color:#2b2b2b; padding:10px 0 0 0;}
.person dl dt{ float:left; width:160px; text-align:center; }
.person dl dt img{ width:120px; height:120px; border:solid 1px #ccc;margin:10px 0 10px 0;}
.person dl dd{ float:left; width:400px; margin:10px 0 0 10px;}
.person dl dd .k{margin-left:20px; display:inline;float: right}
/*信息*/
.information{ float:left; width:690px;}
.information h3{border: solid 1px #d9dfe8; background:#f1f5f8; height:32px; line-height:32px;font-family:"宋体"; font-size:12px; text-indent:2em; font-weight:bold;}
.information .info-r{float: right}
.information .info-r span{margin-right: 15px;}
.information .info-r span a{font-weight: normal}
.information .txt_list{ float:left; padding:10px 0;}
.information .txt_list dd{ float:left; height:24px; line-height:24px; width:680px; margin:3px 0;}
.information .txt_list dd span{ display:block; float:left; overflow:hidden;}
.information .txt_list dd span.n1{ width:520px; text-align:left; text-indent:2em; }
.information .txt_list dd span.n2{ width:150px; text-align: center;}
.information .txtpirce{color:#E4393C;font-size: 18px;margin-left: 10px;}

.information1{ float:left; width:870px;}
.information1 h3{ width:640px;line-height:32px; height:32px; font-family:"微软雅黑","宋体";font-size:14px; border-bottom:dashed 1px #ccc; text-indent:2em;}
.information1 dl{ float:left; width:470px; color:#2b2b2b; padding:10px 0 0 15px;color: #555}
.information1 dl dd{ float:left; width:450px; margin:10px;}

.information2{ float:left; width:960px;border-top: dashed 1px #ccc}
.information2 h3{ border: solid 1px #d9dfe8; background:#f1f5f8; height:32px; line-height:32px;font-family:"宋体"; font-size:12px; text-indent:2em; font-weight:normal;}
.information2 .txt_list{ float:left; padding:10px 30px;}
.information2 .txt_list dd{ float:left; height:35px; line-height:35px; width:740px; margin:3px 0;}
.information2 .txt_list dd span{ display:block; float:left; overflow:hidden;}
.information2 .txt_list dd span.n1{ width:120px; text-align:left; text-indent:2em; color: #555}
.information2 .txt_list dd span.n2{ width:520px; text-align:left; padding-right: 20px; }

.input-in{border: solid 1px #ccc;background: url(../images/input1_bg.png) repeat-x;height: 22px;line-height: 22px;width: 190px;margin: 0px}
/*收货地址*/
.order_by .message_1 .sh{ float:left; width:100%; padding-bottom:5px;}
.order_by .message_1 .sh span{float:left;}
.order_by .message_1 .sh .text{ height:25px; line-height:25px; text-indent:2em; }
.order_by .sh_dz{ float:left; width:99.5%; border:solid 1px #ccc;}
.order_by .sh_dz .title{ float:left; width:100%; font-family:"微软雅黑"; height:21px; background: url("../images/tb-th.gif") repeat-x scroll 0 0 #F7F7F7; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E6E6; padding:5px 0;}
.order_by .sh_dz .title span{ float:left;}
.order_by .sh_dz .title span.name{ margin-left:20px;}
.order_by .sh_dz .title span.btn{ float:right; margin-right:10px;}
.order_by .sh_dz .table{ float:left; color:#2b2b2b; line-height:24px;font-family:"微软雅黑"; padding:10px; width:100%; }
.order_by .sh_dz .table td.t{ text-align:right;}

/*我的订单*/
.order_by{ float:left; width:960px;}
.order_by h3{ width:960px;line-height:32px; height:32px; font-family:"微软雅黑","宋体";font-size:14px; border-bottom:dashed 1px #ccc; text-indent:1em;}
.order_by .message{ width:945px;  border-bottom: solid 1px #ccc; line-height:35px; height:35px; padding-left:15px; float:left;}
.order_by .message span{ float:left; margin-right:20px; }
.order_by .message .bti{background:url(../images/use.gif) 0 -42px;width:50px;height:25px; border:none; line-height:25px; }
.order_by .message_1{ width:945px;  border-bottom: solid 1px #ccc; padding-left:15px; float:left;}
.order_by .message_1 .bti{background:url(../images/use.gif) 0 -42px;width:50px;height:25px; border:none; line-height:25px; margin:5px 0 0 0  }
.order_by .message_1 .l{ float:left;}
.order_by .message_1 .r{ float:right;}
.order_by .message_1 .r .btn{ margin:5px 0 0 0 ;}
.order_by .message_1 .l .sele{padding:2px;border:1px solid;border-color:#aaa #ddd #ddd #aaa; margin:7px 10px 7px 0; }
.order_by .message_1 .r .text{padding:2px;border:1px solid;border-color:#aaa #ddd #ddd #aaa; margin:7px 10px 7px 0; width:225px;}
.order_by .message_1 .r .bti{background:url(../images/use.gif) 0 -42px;width:50px;height:25px; border:none; line-height:25px;}
.order_by .order_titel{width: 965px;float: left;margin: 15px 0px}
.order_by .order_titel ul{width: 945px}
.order_by .order_titel ul li{width: 120px;text-align: center;float: left;font-size: 14px}
.bcon{border-bottom: 2px solid #E4393C;}
.bcon a{color: #E4393C;font-weight: bold}
.text{padding:2px;border:1px solid;border-color:#aaa #ddd #ddd #aaa; margin:7px 10px 7px 0; width:225px;}
.bti{background:url(../images/use.gif) 0 -42px;width:50px;height:25px; border:none; line-height:25px; }
.void_text{float: left;margin-top: 30px;}

.tb-void{overflow:hidden;width:960px;}
.tb-void table{border-collapse:collapse;border:1px solid #E6E6E6;} 
.tb-void th{background:#f7f7f7 url(../images/tb-th.gif) repeat-x;height:31px;color:#666666;font-weight:normal;text-align:center; font-weight:bold;}
.tb-void td{border:solid #E6E6E6;border-width:1px 0 0 1px;padding:5px 4px;text-align:center}
.tb-void .line{ line-height:30px;}
.tb-void-01 th{background-image:none;}
.tb-rows th,.tb-rows td{text-align:left;padding-left:10px;}
.tb-rows td{border-left-width:0;}
.tb-none th,.tb-none td{height:30px;}
.tb-void .tr1{ text-align:right;}
.order-doi a{ margin-right:7px;}
a.btn-again {background: url(../images/use.gif);display: block;height: 21px;line-height: 100px; margin: 3px auto 0;overflow: hidden;width: 72px;}
a.btn-again:hover{background-position:0 -21px}
.img-list{margin-left:-4px}
.img-list a{border:1px solid #e1e1e1;float:left;margin-left:4px;margin-bottom:4px}
.img-list a:hover{border-color:#ccc;}
.img-list img{width:80px;height:80px; margin:0; padding:0;}
.img-list .line2{ border:none;}
.img-list .txt{ float:left; width:245px; text-align:left;}

.sumit{ float:left; width:918px;}
.sumit .l{ float:left; padding:8px 0 10px 10px;_padding:8px 0 10px 5px;}
.sumit .l span{ float:left; margin-right:10px; }
.sumit .l span .text{padding:2px;border:1px solid;border-color:#aaa #ddd #ddd #aaa; margin:-1px 5px 0 0; width:150px;}
.sumit .l span input{ margin:2px 5px 0 0;  _margin:0px 5px 0 0;}
.sumit .l span a.btn1{ border:solid 1px #b4c1d3; padding:2px 10px;  _line-height:22px;background: #c3dee5 url(../images/order_sumit.png) repeat-x; text-decoration:none;} 
.sumit .r{ float:right; width:330px;}
.sumit_1{ background:#fff; border: 1px solid #d9dfe8; border-top:none;}
.l span a.btn1{ border:solid 1px #b4c1d3; padding:2px 10px;  _line-height:22px;background: #c3dee5 url(../images/order_sumit.png) repeat-x; text-decoration:none;} 
.zixun{ float:left; text-align:left; vertical-align:top;width:100%;}
.zixun dl{ float:left; width:100%;}
.zixun dt{ float:left; width:100%;}
.zixun dt .aws{ float:left; width:13%;}
.zixun dt .content{ float:left; width:87%;}
.zixun dd{ float:left; width:100%;}
.zixun dd .aws{ float:left; width:13%;}
.zixun dd .content{ float:left; width:87%;}

/*站内信*/
#con{ font-size:12px; margin:0 auto; width:920px;}
#tags{ padding:0px; margin:0; height:30px;}
#tags li{ float:left; margin-right:-1px; height:30px; line-height:30px; width:150px; font-weight:bold;font-family:"微软雅黑","宋体";  font-size:14px; border: solid 1px #cfcfcf; background: url(../images/tab_bg_001.png) repeat-x;border-bottom:none; }
#tags li a{float:left; color:#666; line-height:30px; text-decoration:none; height:30px;width:150px; text-align:center; }
#tags li.selectTag { margin-bottom:-2px; position:relative; height:30px; background:#fff; border-bottom:none;}
#tags li.selectTag a { color: #2b2b2b; line-height: 30px; height:30px;}
#tagContent { border:solid 1px #cfcfcf ;padding:1px; background:#fff;}
.tagContent { padding:20px 0; width:918px; color:#474747; min-height:100px; height:auto; display:none;}
#tagContent div.selectTag {display: block}
#tagContent .list{height:100px;}
#tagContent .list .li-t{height:100px;padding:1px 1px 4px 1px;background: url(../images/index_mes_bg.png) no-repeat;}
#tagContent .list .txt{width:225px;height:80px;padding:10px 9px;line-height:18px;overflow:hidden;color:#000;float:left;}
.z_mes_table{line-height:30px;}
.z_mes_table .tr1{ line-height:30px; text-align:right;}
.z_mes_table .input{ border:solid 1px #ccc; background:url(../images/input1_bg.png) repeat-x; height:22px; line-height:22px;}
.z_mes_table span{ padding-right:20px;}
.shr{ float:left; width:100%; height:24px; line-height:24px;}
.shr .radio{ float:left; width:20px; margin:5px 0 0 0; _margin:0;}

/*订单详情*/
.order_info{ float:left; width:900px; padding:10px; background:#F6F6F6;}
.order_info h3{font-family:"宋体"; font-size:12px; border:none;}
.order_info ul{ float:left; margin:0 0 0 12px; _margin:0 0 0 7px;border-bottom:solid 1px #ccc; color:#2b2b2b; padding:0 0 10px 0;}
.order_info ul li{ line-height:24px; float:left; width:880px;}
.order_info ul li .w{ width:430px; display:block; float:left}
.order_info ul li .l{ width:150px; display:block; float:left}
.order_info ul li .c{ width:630px; display:block; float:left}
.order_info ul li .r{ width:80px; display:block; float:left}


/*会员中心推荐*/

.rollphotos_hy {width:100%;float:left;}
.rollphotos_hy  h3{ font-weight:bold;font-family:"微软雅黑","宋体"; color:#fff; font-size:14px; }
.rollphotos_hy  h3 span{background:#d32138; padding:0 25px;height:30px;line-height:30px; float:left;}
.rollphotos_hy  .main{  float:left; width:100%; margin:20px 0 0 0 ;}
.rollphotos_hy  .main ul li{ float:left; width:160px;}
.rollphotos_hy  .main ul li .list{ width:140px; margin:0 auto; }
.rollphotos_hy  .main ul li .list .thumb{text-align:center; height:130px;width:140px;   }
.rollphotos_hy  .main ul li .list .thumb img{width:120px;height:120px; vertical-align:top;}
.rollphotos_hy  .main ul li .list .thumb img:hover{width:118px;height:118px; border:solid 1px #ccc;}
.rollphotos_hy  .main ul li .list .name{width:90px;height:30px;line-height:15px;overflow:hidden;cursor:pointer; float:left;}
.rollphotos_hy  .main ul li .list .price{width:50px;height:30px;line-height:15px;font-weight:bold;overflow:hidden; float:left; font-family:Arial; font-size:11px; text-align:right;}
.rollphotos_hy  .main ul li .list .price del{color:#999;}
.navkd .container {zoom:1}
.navkd .container ul{margin: 15px auto 0 70px;width: 1000px;float: left}
.navkd .container ul li{width: 245px;float: left;color: #969696;font-weight: bold;text-align: left;margin-left: 0px}
.nav li.cur-step{color: #666;}
.navkd .sq_nav.st1{
    width: 780px;
    height: 26px;
    margin: 10px 75px;
    background: url("../images/sq_nav.gif") top left no-repeat;
    float: left
}
.toolbtn{
    display: inline-block;
    width: 66px;
    height: 18px;
    margin-right: 5px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.toolbtn1{
    display: inline-block;
    width: 90px;
    height: 18px;
    margin-right: 5px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.voc-ul{width: 100%;float: left}
.voc-ul li{width: 181px;float: left;margin-left: 10px;text-align: center;margin-bottom: 10px;}
.voc-ul li img{width: 165px;}


