<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BIGO商城</title>
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/other.css" rel="stylesheet" type="text/css" />
    <link href="css/ux.css" rel="stylesheet" type="text/css" />

    <SCRIPT type=text/javascript src="js/swfobject.js"></SCRIPT>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/ScrollPic.js"></script>
    <script type="text/javascript" src="js/new.js"></script>
    <script type="text/javascript" src="js/focus.js"></script>
    <script type="text/javascript" src="js/img-show.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script src="./js/vue.js"></script>
    <SCRIPT type=text/javascript>
        var cacheBuster = "?t=" + Date.parse(new Date());
        var stageW = 638;//"100%";
        var stageH = 298;//"100%";
        var attributes = {};
        attributes.id = 'show_pro_img';
        attributes.name = attributes.id;
        var params = {};
        params.bgcolor = "#ffffff";
        var flashvars = {};
        flashvars.componentWidth = stageW;
        flashvars.componentHeight = stageH;
        flashvars.pathToFiles = "focus/";
        flashvars.xmlPath = "focus.xml";
        params.wmode = "opaque";
        swfobject.embedSWF("focus/preview.swf" + cacheBuster, attributes.id, stageW, stageH, "9.0.124", "focus/expressInstall.swf", flashvars, params);

        jQuery(function () {
            jQuery(".nav-mycart").hover(function () {
                jQuery("#mycart_01").removeClass("btn_mycart").addClass("btn_mycart_over");
                jQuery(".nav-mycart-box").css("display", "block");
            }, function () {
                jQuery("#mycart_01").removeClass("btn_mycart_over").addClass("btn_mycart");
                jQuery(".nav-mycart-box").css("display", "none");
            });
        });

        function showTrends(page) {
            for (var i = 1; i <= 3; i++) {
                if (page == i) {
                    $('#page_' + i).addClass('act');
                    $('#trends_' + i).css({'display': 'block'});
                } else {
                    $('#page_' + i).removeClass('act');
                    $('#trends_' + i).css({'display': 'none'});
                }
            }
        }
        //        changepagestyle(1);
        //        $(document).ready(function(){
        //
        //            $("#divID").show(function(){
        //                alert("completed");
        //            });
        //        });
    </SCRIPT>
    <!--首页顶部滑动广告 strat-->
    <script type="text/javascript" language="javascript">
        var time_gd = 500
        var hgd = 0
        function addCount_gd () {
            if (time_gd > 0) {
                time_gd--
                hgd = hgd + 5
            }
            else {
                return
            }
            if (hgd > 95)  //高度
            {
                return
            }
            document.getElementById("top_gd").style.display = ""
            document.getElementById("top_gd").style.height = hgd + "px"
            setTimeout("addCount_gd()", 30)
        }

        function onload3 () {
            addCount_gd()
            setTimeout("noneAds()", 4000) //停留时间自己适当调整
        }
    </script>
    <script type="text/javascript" language="javascript">
        var Tgd = 95
        var Ngd = 95 //高度
        function noneAds () {
            if (Tgd > 0) {
                Tgd--
                Ngd = Ngd - 5
            }
            else {
                return
            }
            if (Ngd < 0) {
                document.getElementById("top_gd").style.display = "none"
                return
            }

            document.getElementById("top_gd").style.height = Ngd + "px"
            setTimeout("noneAds()", 30)
        }
    </script>
    <!--首页顶部滑动广告 end-->
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="minwidth">
                <div style="width:1200px;overflow: hidden;margin:5px auto;">
                    <div id="top_gd"
                        style="margin:auto; display:none; width:1200px; top:0px; height:0px; overflow:hidden; text-align:center;">
                        <div width="1200" height="95"><a href="#"><img src="images/index/111.jpg" border="0" alt=""></a>
                        </div>
                    </div>
                    <dl class="login">
                        <dd><a href="#"><img src="images/header_top_1.jpg" alt="" /> 收藏本站</a></dd>
                        <dd>Hi！欢迎来到必购商城</dd>
                        <!--<dd style="float:left;margin-right:740px;"><a href="#">页面风格：</a>-->
                        <!--<a href="javascript:changepagestyle('')"><img src="images/page_style_1.png" width="10" height="10"/></a>-->
                        <!--<a href="javascript:changepagestyle(1)"><img src="images/page_style_2.png" width="10" height="10"/></a>-->
                        <!--</dd>-->
                        <dd><a href="#">[登录]</a></dd>
                        <dd style="float:left;margin-right:450px;"><a href="#">[注册]</a></dd>
                        <!--<dd><a href="#">[消息中心]</a></dd>-->
                        <dd><a href="#"><img src="images/header_top_2.jpg" alt="" />购物车</a></dd>
                        <dd><a href="#"><img src="images/header_top_3.jpg" alt="" />会员中心</a></dd>
                        <dd><a href="#"><img src="images/header_top_4.jpg" alt="" />帮助中心</a></dd>
                        <dd><a href="#"><img src="images/header_top_5.jpg" alt="" />网站地图</a></dd>
                        <dd style="background:none;">
                            <div class="font_a tel bold">400-800-1234</div>
                        </dd>
                    </dl>
                </div>
                <div class="clear"></div>

                <div class="topadv">
                    <div style="width: 1200px;margin: 0 auto;">
                        <img src="./images/header_bgad.png" alt="" class="header_img">
                    </div>

                </div>

                <div class="login_d" style="width:1200px; margin:0 auto;overflow: hidden;padding:10px 0">
                    <a href="#">
                        <div class="logo"></div>
                    </a>
                    <div class="search">
                        <div class="search-triggers">
                            <ul class="switchable-nav" id="sear_ch">
                                <li class="J_SearchTab goods-search-tab selected" onClick="seachTag('seach_tag1')"
                                    id="seach_tag1">商品</li>
                                <li class="J_SearchTab tmall-search-tab" onClick="seachTag('seach_tag2')"
                                    id="seach_tag2">店铺
                                </li>
                                <li class="J_SearchTab shop-search-tab" onClick="seachTag('seach_tag3')"
                                    id="seach_tag3">样品
                                </li>
                            </ul>
                            <div class="search-tab-icon"><i><em></em><span></span></i></div>
                        </div>
                        <div class="i-search ld">
                            <ul id="shelper" class="hide"></ul>
                            <div class="form">
                                <input type="text" class="text" accesskey="s" id="key" autocomplete="off"
                                    onkeydown="javascript:if(event.keyCode==13) search('key');">
                                <input type="button" value="搜索" class="button" onclick="search('key');return false;">
                            </div>
                            <div class="advanced_search"><a href="#">高级搜索</a></div>
                        </div>
                        <div class="hotwords"><strong>热门搜索：</strong><a href="#" target="_blank"
                                style="color:#ff0000">新年盛典</a><a href="#" target="_blank">圣诞活动</a><a href="#"
                                target="_blank">家电满减</a><a href="#" target="_blank">车品满减</a>
                        </div>
                    </div>
                    <div class="tab">
                        <div>
                            <img src="images/index/make.png" alt="" class="make_img" />
                        </div>
                        <!--<div class="nav-mycart">-->
                        <!--<div><a href="#"><img src="images/mycart.jpg" alt=""/><span>我的购物车(<b>1</b>)</span></a></div>-->
                        <!--</div>-->
                    </div>
                </div>
                <script type=text/javascript>
            function seachTag(seach_tag) {
                // 操作标签
                var tag = document.getElementById("sear_ch").getElementsByTagName("li");
                var taglength = tag.length;
                for (var i = 0; i < taglength; i++) {
                    tag[i].className = "";
                }
                document.getElementById(seach_tag).className = "selected";
            }
        </script>
            </div>
            <div class="nav-menu minwidth">
                <div class="nav-menu_1">
                    <ul>
                        <li style="width: 215px"><a a href="#">全部商品分类﹀</a></li>
                        <li><a href="101首页.html" class="act">首页</a></li>
                        <li><a href="#">批发馆</a></li>
                        <li><a href="#">供爆款</a></li>
                        <li><a href="#">品牌汇</a></li>
                        <li><a href="#">新资讯</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--页面内容 start-->
        <div class="wrapper">
            <div class="loginnew-box">
                <div class="login-form">
                    <h2 class="z_hydl">会员登录 LOGIN</h2>
                    <div class="login-info1">
                        <a href="#">
                            <div class="adv"></div>
                        </a>
                        <span>如果你还不是会员，必购商城诚挚邀请您注册成为会员，您将体验到不一样的网购乐趣！</span>
                        <div class="submit regbtn"> <a href="#" class="btn_g_h">立即注册</a> </div>
                    </div>
                    <div class="main">
                        <dl>
                            <dt><span class="font_red">*</span>用户名：</dt>
                            <dd> <span class="input-box">
                                    <input name="text" maxlength="100" size="50" v-model="loginData.username"
                                        class="input_b" style="width:210px;">
                                </span> <span class="f_onShow">请输入登录邮箱/手机号码！</span> </dd>
                        </dl>
                        <dl>
                            <dt><span class="font_red">*</span>密码：</dt>
                            <dd>
                                <input name="password" type="password" maxlength="20" size="30" class="input_b"
                                    v-model="loginData.password" style="width:210px;">
                                <span></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="font_red">*</span>验证码：</dt>
                            <dd>
                                <input name="password" v-model="loginData.code" maxlength="20" size="10" class="input_b"
                                    style="width:110px;"><img src="images/shuzi.png" width="100" height="30">
                                <span>看不清，<a href="#"><span class="font_red line_d">换一张</span></a></span>
                            </dd>
                        </dl>
                        <div class="stat">
                            <input type="checkbox" checked="checked">
                            记住用户名　|　<input type="checkbox">
                            自动登录
                        </div>
                        <div class="submit">
                            <input name="" @click="login" type="submit" class="btn_b_login" value="登录">　忘记密码，<a
                                href="#"><span class="font_red line_d"><b>点击找回?</b></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--页面内容 end-->
        <div class="hr_20"></div>

        <div class="help">
            <div class="wrapper">
                <div class="helpinfo">
                    <ul>
                        <li>
                            <dl class="li-1">
                                <dt>新手指南</dt>
                                <dd><a href="#" target="_blank">新人购物指南</a></dd>
                                <dd><a href="#" target="_blank">商户服务平台</a></dd>
                                <dd><a href="#" target="_blank">黄河交易规则</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="li-2">
                                <dt>诚信保证计划</dt>
                                <dd><a href="#" target="_blank">先行赔付</a></dd>
                                <dd><a href="#" target="_blank">7天包退</a></dd>
                                <dd><a href="#" target="_blank">诚保代充</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="li-3">
                                <dt>支付方式</dt>
                                <dd><a href="#" target="_blank">一点通支付</a></dd>
                                <dd><a href="#" target="_blank">信用卡支付</a></dd>
                                <dd><a href="#" target="_blank">借记卡支付</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="li-4">
                                <dt>售后服务</dt>
                                <dd><a href="#" target="_blank">联系客服</a></dd>
                                <dd><a href="#" target="_blank">消费者维权中心</a></dd>
                                <dd><a href="#" target="_blank">快捷支付</a></dd>
                            </dl>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--/*邮件订阅*/-->
        <div class="nav_d">
            <div class="wrapper">
                <div class="e-mial">
                    <img src="images/index/email.png" alt="" />
                    <span>邮件订阅</span>
                    <input type="text" name="email" class="input_email" />
                    <a href="#" style="margin: 0px 2px;"><img src="images/index/dingyue.png" alt="" /></a>
                    <a href="#" style="margin: 0px 2px;"><img src="images/index/tuiding.png" alt="" /></a>
                </div>
            </div>
        </div>
        <!--/*底部导航*/-->
        <div class="nav_d">
            <div class="wrapper">
                <a href="#">公司简介</a>|
                <a href="#">合作意向</a>|
                <a href="#">联系我们</a>|
                <a href="#">招标信息</a>|
                <a href="#">房地产</a>|
                <a href="#">休闲农业</a>|
                <a href="#">环保能源</a>
            </div>
        </div>
        <div class="nav_d">
            <div class="wrapper">
                友情链接：
                <a href="#">黄河在线电商</a>|
                <a href="#">淘宝</a>|
                <a href="#">京东</a>|
                <a href="#">当当</a>|
                <a href="#">亚马逊</a>|
                <a href="#">腾讯</a>|
                <a href="#">阿里巴巴</a>|
                <a href="#">百度</a>|
                <a href="#">人人网</a>
            </div>
        </div>

        <!--/*版权信息*/-->
        <div class="hr_20"></div>
        <div class="footer">
            <p>Copyright ©黄河在线商城. All Rights Reserved. 粤ICP证080047号</p>
        </div>
        <div style="text-align: center;margin: 5px auto 10px;">
            <img src="images/copyright.png" alt="">
        </div>

        <!--backtoTop1-->
        <!--兼容所有现代浏览器同时包括 ie6/7/8/9 （ie6会有一点点抖动）-->
        <div class="backtoTop" id="backToTop1">
            <div id="backToTop-up" class="up-back"><i class="fa fa-angle-up"></i></div>
            <div id="backToTop-down" class="down-back"><i class="fa fa-angle-down"></i></div>
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data () {
                return {
                    loginData: {
                        username: '',
                        password: '',
                        code: ''
                    }
                }
            },
            mounted () {
                const obj = Object.fromEntries(location.search.slice(1).split("&")
                    .map(item => item.split('=')))
                Object.assign(this.loginData, obj)
            },
            methods: {
                login () {
                    const { username, password, code } = this.loginData
                    if (!username) return alert('请填写用户名')
                    if (!password) return alert('请填写密码')
                    if (!code) return alert("请填写验证码")
                    if (code !== 'h429') return alert("验证码错误")
                    location.href = '101首页.html'
                }
            }
        })
    </script>
</body>

</html>